name: Docker Image Publish

on:
  push:
    branches:
    - main

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Azure Container Registry Login
      uses: Azure/docker-login@v2
      with:
        # Container registry username
        username: ${{ secrets.ACR_USERNAME }}
        # Container registry password
        password: ${{ secrets.ACR_PASSWORD }}
        # Container registry server url
        login-server: acreaspoc-fnezega7dwfna7ge.azurecr.io
        
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run:         
        docker build . --file WebApp.Dockerfile --tag acreaspoc-fnezega7dwfna7ge.azurecr.io/eas-poc-chat:$(date +'%Y-%m-%d')_$GITHUB_RUN_NUMBER;
        docker tag acreaspoc-fnezega7dwfna7ge.azurecr.io/eas-poc-chat:$(date +'%Y-%m-%d')_$GITHUB_RUN_NUMBER acreaspoc-fnezega7dwfna7ge.azurecr.io/eas-poc-chat:latest;
        docker push acreaspoc-fnezega7dwfna7ge.azurecr.io/eas-poc-chat:$(date +'%Y-%m-%d')_$GITHUB_RUN_NUMBER;
        docker push acreaspoc-fnezega7dwfna7ge.azurecr.io/eas-poc-chat:latest;
